@charset "euc-kr";

@font-face {
	font-family: '나눔고딕';
	font-weight: normal;
	font-style: normal;
	src: url(font/NanumGothic-Regular.eot);
	src: url(font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
    url(font/NanumGothic-Regular.woff2) format('woff2'),
    url(font/NanumGothic-Regular.woff) format('woff'),
    url(font/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
	font-family: '나눔고딕Bold';
	font-weight: bold;
	font-style: normal;
	src: url(font/NanumGothic-Bold.eot);
	src: url(font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
    url(font/NanumGothic-Bold.woff2) format('woff2'),
    url(font/NanumGothic-Bold.woff) format('woff'),
    url(font/NanumGothic-Bold.ttf) format('truetype');
}

@font-face {
	font-family: '나눔고딕ExtBold';
	font-style: normal;
	font-weight: 800;
	src: url(font/NanumGothic-ExtraBold.eot);
	src: url(font/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
    url(font/NanumGothic-ExtraBold.woff2) format('woff2'),
    url(font/NanumGothic-ExtraBold.woff) format('woff'),
    url(font/NanumGothic-ExtraBold.ttf) format('truetype');
}


@font-face {
    font-family:"나눔바른고딕";
    font-weight: normal;
    font-style: normal;
    src: url(font/NanumBarunGothic.eot);
    src: url(font/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
    url(font/NanumBarunGothic.woff) format('woff'),
    url(font/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
    font-family:"나눔바른고딕Bold";
    font-weight: bold;
    font-style: normal;
    src: url(font/NanumBarunGothicBold.eot);
    src: url(font/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
    url(font/NanumBarunGothicBold.woff) format('woff'),
    url(font/NanumBarunGothicBold.ttf) format('truetype');
}
/* s: 20190325 폰트 추가 */
@font-face {
    font-family:"나눔바른고딕";
    font-weight: 200;
    font-style: normal;
    src: url(font/NanumBarunGothicUltraLight.eot);
    src: url(font/NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'),
    url(font/NanumBarunGothicUltraLight.woff) format('woff'),
    url(font/NanumBarunGothicUltraLight.ttf) format('truetype');
}
/* e: 20190325 폰트 추가 */

@font-face {
	font-family: 'NanumSquareR';
	src: url('font/NanumSquareR.eot');
	src:url('font/NanumSquareR.eot?#iefix') format('embedded-opentype'),
	url('font/NanumSquareR.woff2') format('woff2'),
	url('font/NanumSquareR.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NanumSquareR2';
	src: url('font/NanumSquarer.eot');
	src:url('font/NanumSquarer.eot?#iefix') format('embedded-opentype'),
	url('font/NanumSquarer.woff2') format('woff2'),
	url('font/NanumSquarer.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NanumSquareB';
	src: url('font/NanumSquareB.eot');
	src: url('font/NanumSquareB.eot?#iefix') format('embedded-opentype'),
	url('font/NanumSquareB.woff2') format('woff2'),
	url('font/NanumSquareB.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
/* s: 20190208 폰트 추가 */
@font-face {
	font-family: 'NanumSquareEB';
	src: url('font/NanumSquareEB.eot');
	src: url('font/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
	url('font/NanumSquareEB.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
/* e: 20190208 폰트 추가 */
/*20171012 수정 시작*/
@font-face {
	font-family: 'NotoSansKR';
	src: url('font/NotoSansKR-Regular.eot');
	src:url('font/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
	url('font/NotoSansKR-Regular.woff2') format('woff2'),
	url('font/NotoSansKR-Regular.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'NotoSansKR';
	src: url('font/NotoSansKR-Medium.eot');
	src:url('font/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
	url('font/NotoSansKR-Medium.woff2') format('woff2'),
	url('font/NotoSansKR-Medium.woff') format('woff');
	font-style: normal;
	font-weight: bold;
}
/* s: 20190325 폰트 추가 */
@font-face {
	font-family: 'NotoSansKR';
	src: url('font/NotoSansKR-bold.eot');
	src:url('font/NotoSansKR-bold.eot?#iefix') format('embedded-opentype'),
	url('font/NotoSansKR-bold.woff2') format('woff2'),
	url('font/NotoSansKR-bold.woff') format('woff');
	font-style: normal;
	font-weight: 800;
}
/* e: 20190325 폰트 추가 */

@font-face {
	font-family: 'SpoqaHanSans-Regular';
	src: url('font/SpoqaHanSans_Regular.eot');
	src: url('font/SpoqaHanSans_Regular.eot?#iefix') format('embedded-opentype'),
	url('font/SpoqaHanSans_Regular.woff2') format('woff2'),
	url('font/SpoqaHanSans_Regular.woff') format('woff'),
	url('font/SpoqaHanSans_Regular.ttf') format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: 'SpoqaHanSans-Thin';
	src: url('font/SpoqaHanSans_Regular.eot');
	src: url('font/SpoqaHanSans_Regular.eot?#iefix') format('embedded-opentype'),
	url('font/SpoqaHanSans_Thin.woff2') format('woff2'),
	url('font/SpoqaHanSans_Thin.woff') format('woff'),
	url('font/SpoqaHanSans_Thin.ttf') format('truetype');
	font-weight: 300;
}
@font-face {
	font-family: 'SpoqaHanSans-Light';
	src: url('font/SpoqaHanSans_Regular.eot');
	src: url('font/SpoqaHanSans_Regular.eot?#iefix') format('embedded-opentype'),
	url('font/SpoqaHanSans_Light.woff2') format('woff2'),
	url('font/SpoqaHanSans_Light.woff') format('woff'),
	url('font/SpoqaHanSans_Light.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'SpoqaHanSans-Regular';
	src: url('font/SpoqaHanSans_Regular.eot');
	src: url('font/SpoqaHanSans_Regular.eot?#iefix') format('embedded-opentype'),
	url('font/SpoqaHanSans_Regular.woff2') format('woff2'),
	url('font/SpoqaHanSans_Regular.woff') format('woff'),
	url('font/SpoqaHanSans_Regular.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'SpoqaHanSans-bold';
	src: url('font/SpoqaHanSans_Regular.eot');
	src: url('font/SpoqaHanSans_Regular.eot?#iefix') format('embedded-opentype'),
	url('font/SpoqaHanSans_Bold.woff2') format('woff2'),
	url('font/SpoqaHanSans_Bold.woff') format('woff'),
	url('font/SpoqaHanSans_Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'fl';
	font-weight: normal;
	font-style: normal;
	src: url('font/NotoSans-Thin.eot');
	src: url('font/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
    url('font/NotoSans-Thin.woff2') format('woff2'),
    url('font/NotoSans-Thin.woff') format('woff'),
    url('font/NotoSans-Thin.woff') format('opentype');
}
@font-face {
	font-family: 'flb';
	font-weight: normal;
	font-style: normal;
	src: url('font/NotoSans-Light.eot');
	src: url('font/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
    url('font/NotoSans-Light.woff2') format('woff2'),
    url('font/NotoSans-Light.woff') format('woff'),
    url('font/NotoSans-Light.woff') format('opentype');
}
@font-face {
	font-family: 'fr';
	font-weight: normal;
	font-style: normal;
	src: url('font/NotoSans-Regular.eot');
	src: url('font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/NotoSans-Regular.woff2') format('woff2'),
    url('font/NotoSans-Regular.woff') format('woff'),
    url('font/NotoSans-Regular.woff') format('opentype');
}

	/* 나눔명조 추가  20181107 */

@font-face {
	font-family: 'nanum-myeongjo';
	font-weight: normal;
	font-style: normal;
	src: url('font/nanum-myeongjo-700.eot');
	src: url('font/nanum-myeongjo-700.eot?#iefix') format('embedded-opentype'),
    url('font/nanum-myeongjo-700.woff2') format('woff2'),
    url('font/nanum-myeongjo-700.woff') format('woff'),
    url('font/nanum-myeongjo-700.woff') format('opentype');
}
@font-face {
	font-family: 'nanum-myeongjoB';
	font-weight: 800;
	font-style: normal;
	src: url('font/nanum-myeongjo-800.eot');
	src: url('font/nanum-myeongjo-800.eot?#iefix') format('embedded-opentype'),
    url('font/nanum-myeongjo-800.woff2') format('woff2'),
    url('font/nanum-myeongjo-800.woff') format('woff'),
    url('font/nanum-myeongjo-800.woff') format('opentype');
}

/* s: 20190225 나눔스퀘어라운드 추가 */
@font-face {
	font-family: 'NanumSquareRound';
	src: url('font/NanumSquareRoundR.eot');
	src:url('font/NanumSquareRoundR.eot?#iefix') format('embedded-opentype'),
	url('font/NanumSquareRoundR.woff2') format('woff2'),
	url('font/NanumSquareRoundR.woff') format('woff'),
	url('font/NanumSquareRoundR.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'NanumSquareRound';
	src: url('font/NanumSquareRoundB.eot');
	src:url('font/NanumSquareRoundB.eot?#iefix') format('embedded-opentype'),
	url('font/NanumSquareRoundB.woff2') format('woff2'),
	url('font/NanumSquareRoundB.woff') format('woff'),
	url('font/NanumSquareRoundB.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'NanumSquareRound';
	src: url('font/NanumSquareRoundEB.eot');
	src:url('font/NanumSquareRoundEB.eot?#iefix') format('embedded-opentype'),
	url('font/NanumSquareRoundEB.woff2') format('woff2'),
	url('font/NanumSquareRoundEB.woff') format('woff'),
	url('font/NanumSquareRoundEB.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
/* e: 20190225 나눔스퀘어라운드 추가 */
@font-face {
  font-family: "EastSeaDokdo";
	src: url('font/east-sea-dokdo-v8-korean-regular.eot');
	src:url('font/east-sea-dokdo-v8-korean-regular.eot?#iefix') format('embedded-opentype'),
	url('font/east-sea-dokdo-v8-korean-regular.woff2') format('woff2'),
	url('font/east-sea-dokdo-v8-korean-regular.woff') format('woff'),
	url('font/east-sea-dokdo-v8-korean-regular.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}